:root {
    --color-primary: #f65261;
    --font-primary: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

input{
    border:none;
}

body {
    font-family: var(--font-primary);
    background-color: #232323;
    color: #fff;
    font-size: 1.6rem;
}
button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}
