.container {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

.logo {
    color: var(--color-primary);
    font-size: 2rem;
    span {
        font-weight: 700;
    }
}





.main-logo{
    position: absolute;
    top: 20px;
    left: 0;
    cursor: pointer;
    z-index: 95;
    width: 100%;
    pointer-events: none;
}